services:
  app:
    build: .
    container_name: app
    ports:
      - "8000:8000"
    restart: unless-stopped
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
    restart: unless-stopped

volumes:
  prometheus_data:
