services:
  app:
    build: .
    container_name: app
    ports:
      - "8000:8000"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
      - ./rules.yaml:/etc/prometheus/rules/rules.yaml
    command:
      - "--config.file=/etc/prometheus/prometheus.yaml"
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: unless-stopped

  alert-manager:
    image: prom/alertmanager:latest
    container_name: alert-manager
    ports:
      - "9093:9093"
    volumes:
      - alertmanager_data:/alertmanager
      - ./alertmanager.yaml:/etc/alertmanager/alertmanager.yaml
    env_file:
      - .env
    command:
      - "-config.file=/etc/alertmanager/alertmanager.yaml"
    restart: unless-stopped

volumes:
  prometheus_data:
  alertmanager_data:
