global:
  scrape_interval: 30s

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 30s
    static_configs:
      - targets:
          - "prometheus:9090"

  - job_name: "app"
    scrape_interval: 30s
    static_configs:
      - targets:
          - "app:8000"
